
<div class="inhoud">
<div class="kopje">Inhoud</div>
<p><a href="#Totaal">Totaal</a></p>
<p><a href="#Strafpunten">Strafpunten</a></p>
{% for onderdeel in page.resultaten %}
<p><a href="#{{ onderdeel.naam | capitalize }}">{{ onderdeel.naam | capitalize | replace: "_"," " }}</a></p>
{% endfor %}
</div>


<h3><span id="Strafpunten">Strafpunten:</span></h3>
{% for klas in page.strafpunten %}
  * {{ klas.klas }}: {{ klas.strafpunten }} strafpunten - {{ klas.reden }}
{% endfor %}

<div class="kolommen">
{% for onderdeel in page.resultaten %}
<div class="blok">
  {% assign herhaling = 0 %}
  {% assign vorigeScore = '' %}

  <h3><span id="{{onderdeel.naam | capitalize}}">{{ onderdeel.naam | capitalize | replace: "_"," "}}</span> (weging: {{ onderdeel.weging }}x)</h3>
  {% assign aantalKlassen = (onderdeel.resultaten | size) %}

  {% if onderdeel.resultaten[0].punten %}
  {% assign resultaten = ("" | split: "") %}
  {% for item in onderdeel.resultaten %}
    {% assign naam = item.klas %}
    {% capture punten %}{{ 10000 | minus: item.punten }}{% endcapture %}

    {% assign punten = (punten | prepend: "000000" | split: "" | reverse %}
    {% assign punten = (punten | join: "" | truncate: 5, "") %}
    {% assign punten = (punten | split: "" | reverse | join: "") %}
    {% assign klasOnderdeel = ("" | append: punten | append: ":" | append: naam) %}
    {% assign resultaten = (resultaten | push: klasOnderdeel) %}
  {% endfor %}
  {% assign resultaten = (resultaten | sort ) %}

  <ul>
  {% for klasIn in resultaten %}
      {% assign klas = (klasIn | split: ":") %}
      {% capture punten %}{{10000 | minus: klas[0]}}{% endcapture %}
      {% assign punten = (punten | times: onderdeel.weging) %}
      {% assign score = punten %}
      {% if score == vorigeScore %}
        {% capture herhaling %}{{herhaling | plus: 1 }}{% endcapture %}
      {% else %}
        {% assign herhaling = 0 %}
      {% endif %}

      <li> {{ forloop.index | minus: herhaling }}. {{ klas[1] }} - {{ punten }} {% if punten==1 %}punt{% else %}punten{% endif %} </li>
      {% assign vorigeScore = score %}
  {% endfor %}
  </ul>

  {% else %}
    {% assign klassenArray = "" | split: "" %}
    {% for klas in onderdeel.resultaten %}
      {% assign juries = (klas.jury | sort) %}
      {% assign juries = (juries | pop | reverse | pop | reverse) %}
      {% assign aantalJuries = (juries | size) %}
      {% assign jurypunten=0.0 %}

      {% for jury in juries %}
        {% assign jurypunten = (jurypunten | plus: jury) %}
      {% endfor %}

      {% assign jurypunten = (jurypunten | divided_by: aantalJuries | prepend: "") %}
      {% assign jurypunten = (jurypunten | prepend: "00000" | split: "" | reverse %}
      {% assign jurypunten = (jurypunten | join: "" | truncate: 4, "" | split: "" | reverse | join: "") %}
      {% assign klassenPunten = (jurypunten | append: ":" | append: klas.klas) %}
      {% assign klassenArray = (klassenArray | push: klassenPunten) %}
    {% endfor %}
    {% assign klassenArray = (klassenArray | sort | reverse ) %}
<ul>

    {% for klasString in klassenArray %}
      {% assign klasArray = (klasString | split: ":") %}
      {% assign score = klasArray[0] %}
      {% if score == vorigeScore %}
        {% capture herhaling %}{{herhaling | plus: 1 }}{% endcapture %}
      {% else %}
        {% assign herhaling = 0 %}
      {% endif %}

      {% assign punten = (aantalKlassen | minus: forloop.index0 | plus: herhaling | times: onderdeel.weging) %}
<li>{{ forloop.index | minus: herhaling }}. {{ klasArray[1] }} - {{ punten }} {% if punten==1 %}punt{% else %}punten{% endif %} </li>
      {% assign vorigeScore = score %}
    {% endfor %}
</ul>

  {% endif %}

</div>
{% endfor %}
</div>
