---
---

@charset "utf-8";

// Our variables
$base-font-family: arabolical1, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   15px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fcfcfc;
$background-color: #e4d5b8;
$brand-color:      #d4be00;

$grey-color:       #9e9e9e;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    900px;

$on-palm:          860px;
$on-laptop:        900px;

video {
	width: 70%;
}

.kopje {
	text-align: center;
	font-weight: bold;
}

.inhoud {
	background-color: #f8eadd;
	width: 300px;
	border: 2px;
	border-style: solid;
	border-color: #a2a9b1;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.inhoud p {
	margin: 0em;
	padding-left: 40px;
}

.nav-trigger {
    display: none;
}

label[for="nav-trigger"] {
  display: block;
  float: right;
  width: 36px;
  height: 36px;
  z-index: 2;
}

.fotos div {
  display: inline-block;
  width: 33%;
  padding: 0;
  border: 0;
  margin: 0;
}

.fotos img {
	width: 100%;
}

.kolommen {
  -webkit-column-width: 350px;
  -webkit-column-gap: 50px;
  -moz-column-width: 350px;
  -moz-column-gap: 50px;
  column-width: 350px;
  column-gap: 50px;
}

.blok {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

.sponsor {
  width: 400px;
  margin: 20px;
}

.site-logo {
	width: 30px;
	float: left;
	margin-right: 3px;
	margin-top: 13px;
}

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";


.site-title {
	font-size: 30px;
	color: white;
}

.site-title, .site-title:visited {
	color: white;
}

@media screen and (min-width: $on-palm+1) {
	.site-logo {
		float: left;
		margin-top: 20px;
	}

	.site-title {
		font-size: 65px;
		margin-top: 40px;
		margin-left: 10px;
	}

	.site-logo {
		width: 90px;
	}

	.site-nav {
		width: 100%;
	}

	.site-nav .page-link:not(:last-child) {
		margin-right: 25px;
	}
}

@media screen and (max-width: 500px) {
	.site-title {
		font-size: 6.5vw;
	}
}

@font-face {
    font-family: 'arabolical1';
    src: url('arabolic-webfont.woff2') format('woff2'),
         url('arabolic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background: url("/assets/paleis.gif") 100% 220px no-repeat, url("/assets/achtergrond.jpg");
	padding-left: 0px;
	
}

@media screen and (min-width: 500px) {
	.site-title {
		font-size: 6.5vw;
	}

	.wrapper {
		margin-right: 100px;
	}
}
